#box {
    border: 1px solid black;
    width: 400px;
    height: 400px;
    margin: 50px;
    background-image: url(../../asset/images/cat05.jpg);
    background-size: auto 400px;
    background-repeat: no-repeat;
    background-position: center center;

    background-size: contain;
    background-size: cover;
}